<configuration>
  <springProperty scope="context" name="SLACK_WEBHOOK_URI" source="slack.logging.error"/>
  <property name="defaultLogPattern"
    value="[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] %-5level --- [%15.15thread] %-40.40logger{36} : %msg%n"/>
  <property name="consoleLogPattern"
    value="[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] %clr(%-5level) %clr(${PID:-}){magenta} %clr(---){faint} %clr([%15.15thread]){faint} %clr(%-40.40logger{36}){cyan} %clr(:){faint} : %msg%n"/>
  <property name="slackLogPattern" value="%msg%n"/>

  <springProfile name="local, test">
    <conversionRule conversionWord="clr"
      converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>${consoleLogPattern}</pattern>
      </encoder>
    </appender>

    <root level="info">
      <appender-ref ref="console"/>
    </root>
  </springProfile>

  <springProfile name="default, dev">
      <conversionRule conversionWord="clr"
                      converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

      <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
          <file>logs/app.log</file>
          <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>

          <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
              <fileNamePattern>logs/app.%d{yyyy-MM}.log.gz</fileNamePattern>

              <maxHistory>12</maxHistory>
          </rollingPolicy>
      </appender>

      <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
          <encoder>
              <pattern>${consoleLogPattern}</pattern>
          </encoder>
      </appender>

      <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
          <webhookUri>${SLACK_WEBHOOK_URI}</webhookUri>
          <layout class="ch.qos.logback.classic.PatternLayout">
              <pattern>${slackLogPattern}</pattern>
          </layout>
          <colorCoding>true</colorCoding>
      </appender>

      <appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
          <appender-ref ref="SLACK"/>
          <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
              <level>ERROR</level>
          </filter>
      </appender>

      <root level="info">
          <appender-ref ref="console"/>
          <appender-ref ref="FILE"/>
          <appender-ref ref="ASYNC_SLACK"/>
      </root>
  </springProfile>

  <springProfile name="prod">
    <conversionRule conversionWord="clr"
      converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM}.log.gz</fileNamePattern>

            <maxHistory>12</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>${consoleLogPattern}</pattern>
      </encoder>
    </appender>

    <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
      <webhookUri>${SLACK_WEBHOOK_URI}</webhookUri>
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>${slackLogPattern}</pattern>
      </layout>
      <colorCoding>true</colorCoding>
    </appender>

    <appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
      <appender-ref ref="SLACK"/>
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
      </filter>
    </appender>

    <root level="warn">
      <appender-ref ref="console"/>
      <appender-ref ref="FILE"/>
      <appender-ref ref="ASYNC_SLACK"/>
    </root>
  </springProfile>
</configuration>
