<configuration>
  <springProperty scope="context" name="SLACK_WEBHOOK_URI" source="slack.logging.error"/>
  <property name="defaultLogPattern"
    value="[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] %-5level --- [%15.15thread] %-40.40logger{36} : %msg%n"/>
  <property name="consoleLogPattern"
    value="[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] %clr(%-5level) %clr(${PID:-}){magenta} %clr(---){faint} %clr([%15.15thread]){faint} %clr(%-40.40logger{36}){cyan} %clr(:){faint} : %msg%n"/>
  <property name="slackLogPattern" value="Stage %msg%n"/>

  <springProfile name="default, dev, test">
    <conversionRule conversionWord="clr"
      converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>${consoleLogPattern}</pattern>
      </encoder>
    </appender>

    <root level="info">
      <appender-ref ref="console"/>
    </root>
  </springProfile>

  <springProfile name="dev">
    <property name="infoLogPath" value="logs/info"/>
    <property name="errorLogPath" value="logs/error"/>
    <property name="fileNamePattern" value="%d{yyyy-MM-dd}_%i.log"/>

    <appender name="info-warn-error-appender"
      class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${infoLogPath}/info.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <maxHistory>7</maxHistory>
        <maxFileSize>1GB</maxFileSize>
        <totalSizeCap>2GB</totalSizeCap>
        <fileNamePattern>${infoLogPath}/${fileNamePattern}</fileNamePattern>
      </rollingPolicy>
      <encoder>
        <pattern>${defaultLogPattern}</pattern>
      </encoder>
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>INFO</level>
        <onMatch>ACCEPT</onMatch>
        <onMismatch>NEUTRAL</onMismatch>
      </filter>
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>WARN</level>
        <onMatch>ACCEPT</onMatch>
        <onMismatch>NEUTRAL</onMismatch>
      </filter>
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>ERROR</level>
        <onMatch>ACCEPT</onMatch>
        <onMismatch>DENY</onMismatch>
      </filter>
    </appender>

    <appender name="error-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${errorLogPath}/error.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <maxHistory>7</maxHistory>
        <maxFileSize>1GB</maxFileSize>
        <totalSizeCap>2GB</totalSizeCap>
        <fileNamePattern>${errorLogPath}/${fileNamePattern}</fileNamePattern>
      </rollingPolicy>
      <encoder>
        <pattern>${defaultLogPattern}</pattern>
      </encoder>
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>ERROR</level>
        <onMatch>ACCEPT</onMatch>
        <onMismatch>DENY</onMismatch>
      </filter>
    </appender>

    <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
      <webhookUri>${SLACK_WEBHOOK_URI}</webhookUri>
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>${slackLogPattern}</pattern>
      </layout>
      <iconEmoji>:stuck_out_tongue_winking_eye:</iconEmoji>
      <colorCoding>true</colorCoding>
    </appender>

    <appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
      <appender-ref ref="SLACK"/>
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
      </filter>
    </appender>

    <root level="info">
      <appender-ref ref="ASYNC_SLACK"/>
      <appender-ref ref="info-warn-error-appender"/>
      <appender-ref ref="error-appender"/>
    </root>
  </springProfile>
</configuration>
